.ContactUS{
background-color:#1c1a2a;
height:100%;
}
.Contact-image{
height:300px;
position:relative;
left:430px;
}
#Home_img{
color:white;
font-size:25px;
}
.Contact_Section{
display:flex;
width:200px;
position:relative;
left:550px;
bottom:170px;
}
.Img-Contact{
height:22px;
position:relative;
left:17px;
top:2px;
}
.Heading_Contact{
color:white;
font-weight:300;
font-size:20px;
position:relative;
left:40px;
bottom:15px;
}