.HeaderContact{
display:flex;
}
.contact-container1{
border:2px solid black;
background-color:rgb(3, 3, 27);
height:400px;
position:relative;
left:300px;
top:40px;
border-radius:15px;
width:380px;
}
.Header_Main_Contact{
background-color:rgb(103, 103, 141);
height:1000px;
}
.HeaderImage{
position:relative;
left:100px;
top:40px;
}
.Request{
display:flex;
position:relative;
top:130px;
left:80px;
}
.Request_Heading{
height:300px;
width:350px;
margin:20px;
background-color:#1d1b2b;
border-radius:20px;
}
.RequestImage{
height:80px;
position:relative;
left:140px;
top:20px;
}
.RequestTopHeading{
color:#eb596e;
font-size:30px;
width:280px;
position:relative;
left:60px;
top:14px;
}
.RequestTopHeading1{
color:#eb596e;
font-size:30px;
width:280px;
position:relative;
left:100px;
top:14px;
}
.RequestTopHeading3{
color:#eb596e;
font-size:30px;
width:280px;
position:relative;
left:50px;
top:14px;
} 
.RequestPara{
color:rgb(97, 95, 95);
font-size:18px;
color:#bbb4b4;
width:305px;
position:relative;
left:25px;
top:5px;
}   
.ButtonColor{
background-color:#eb596e;
border-radius:20px;
height:40px;
width:160px;
color:white;
font-size:20px;
font-weight:600;
border:none;
position:relative;
left:100px;
top:10px;
}
.ButtonColor1{
background-color:#eb596e;
border-radius:20px;
height:40px;
width:180px;
color:white;
font-size:20px;
font-weight:600;
border:none;
position:relative;
left:80px;
top:10px;
}
.ButtonColor2{
background-color:#eb596e;
border-radius:20px;
height:40px;
width:200px;
color:white;
font-size:20px;
font-weight:600;
border:none;
position:relative;
left:80px;
top:10px;
}   