.Process1{
text-align:center;
font-size:26px;
font-weight:bold;
}
.Process{
height:400px;
color:#ffffff;
display:flex;
background-color:#3d4045;
width:100%;
}
.Process2{
color:#eb596e;
}
.Process3{
height:140px;
}
.Process4{
height:65px;
width:67px;
background-color:white;
border-radius:40px;
position:relative;
bottom:110px;
left:30px;
}
.Process5{
color:#eb596e;
font-size:30px;
font-weight:bold;
position:relative;
left:25px;
top:15px;
}
.Process6{
font-size:18px;
font-weight:300;
color:#bbb2b2;
position:relative;
top:15px;
margin-block-start:0;
margin-block-end: 0;
}
.Process_1{
height:300x;
width:400px;
margin:20px;
position:relative;
left:35px;
bottom:10px;
}
.Process20{
height:40px;
position:relative;
top:30px;
}






.Process7{
position:relative;
bottom:90px;
margin-block-start:0;
margin-block-end: 0;
}
.Process8{
position:relative;
bottom:45px;
left:25px;
}
.Process9{
position:relative;
bottom:45px;
transform: scaleY(-1);
left:25px;
}
.Process10{
font-size:31px;
font-weight:bold;
position:relative;
top:30px;
left:5px;
height:40px;
}
.Process11{
position:relative;
top:30px;
font-weight:400;
left:15px;
margin-block-start:0;
margin-block-end: 0;
}
.Process12{
font-size:18px;
font-weight:300;
color:#bbb2b2;
position:relative;
top:43px;
left:15px;
margin-block-start:0;
margin-block-end: 0;
}
.Process13{
font-size:20px;
}
.Process15{
text-align:center;
font-size:48px;
color:white;
font-weight:700;
color:#eb596e;
background-color:#3d4045;
height:70px;
width:100%;
margin-block-start:0;
margin-block-end: 0;
}

.Process18{
color:white;
}

  