.Meeting{
display:flex;
height:280px;
width:1100px;
border-radius:20px;
position:relative;
top:40px;
left:90px;
background-color:#eb596e;
}
.Request1{
display:flex;
position:relative;
top:30px;
left:80px; 
}
.Meeting__Main{
height:1400px;
background-color:#312c51;
}
.Meeting1{
width:400px;
}
.Meeting2{
width:600px;
position:relative;
left:90px;
}
.Meeting_Main{
height:370px;
background-color:#312c51;
}
.ImgMeeting{
height:200px;
position:relative;
left:190px;
top:40px;
}
.Meeting4{
position:relative;
top:40px;
left:30px;
color:#3e3c41;
font-size:17px;

}
.Meeting5{
color:white;
font-size:26px;
position:relative;
top:50px;
left:29px;
}
.Meeting6{
color:#312c51;
font-weight:700;
position:relative;
top:60px;
left:28px;
font-size:21px;
}
.Development{
display:flex;
background-color:#312c51;
}
.DevelopmentHeading{
height:600px;
width:600px;
position:relative;
left:100px;
}
.Planning{
display:flex;
}
.PlanningHeading{
color:#ffffff;
font-size:21px;
font-weight:600;
width:200px;
position:relative;
left:5px;
bottom:10px;
}
.Branding1{
background-color:white;
border-radius:20px;
height:25px;
color:#151325;
padding:8px 0px 0px 15px;
width:160px;
font-size:16px;
margin-right:15px;
font-weight:600;
}
.Branding2{
background-color:white;
border-radius:20px;
height:25px;
color:#1a182c;
padding:8px 0px 0px 15px;
width:80px;
font-size:16px;
margin-right:15px;
font-weight:600;
}
.Branding3{
background-color:white;
background-color:white;
border-radius:20px;
height:25px;
color:#151324;
padding:8px 0px 0px 15px;
width:120px;
font-size:16px;
font-weight:600;
}
.Branding4{
background-color:white;
background-color:white;
border-radius:20px;
height:25px;
color:#151324;
padding:8px 0px 0px 15px;
width:150px;
font-size:16px;
font-weight:600;
margin-top:20px;
}
.Branding5{
background-color:white;
border-radius:20px;
height:25px;
color:#151324;
padding:8px 0px 0px 15px;
width:150px;
font-size:16px;
font-weight:600;
margin-top:20px;
margin-left:15px;
}  
.Branding6{
background-color:white;
border-radius:20px;
height:25px;
color:#151324;
padding:8px 0px 0px 15px;
width:150px;
font-size:16px;
font-weight:600;
margin-top:20px;
}
.Branding7{
border-radius:20px;
height:25px;
color:#151324;
padding:0px 0px 0px 0px;
width:170px;
font-size:16px;
font-weight:600;
margin-top:20px;
color:white;
font-size:20px;
position:relative;
top:10px;
left:5px;
}
.Planning1{
border-radius:20px;
height:25px;
color:#151324;
padding:7px 0px 2px 20px;
width:100px;
font-size:10px;
font-weight:600;
margin-top:20px;
font-size:17px;
border:2px solid black;
background-color:white;
margin-right:5px;
}
.Planning2{
border-radius:20px;
height:25px;
color:#151324;
padding:7px 0px 2px 17px;
width:100px;
font-size:10px;
font-weight:600;
margin-top:20px;
font-size:17px;
border:2px solid black;
background-color:white;
margin-right:5px;
}
.Planning3{
border-radius:20px;
height:25px;
color:#151324;
padding:7px 0px 2px 15px;
width:100px;
font-size:5px;
font-weight:600;
margin-top:20px;
font-size:17px;
border:2px solid black;
background-color:white;
}
.Planning4{
border-radius:20px;
height:28px;
color:#151324;
padding:8px 0px 2px 15px;
width:170px;
font-weight:600;
margin-top:20px;
font-size:17px;
border:2px solid black;
background-color:white;
margin-right:10px;
}
.Planning5{
border-radius:20px;
height:29px;
color:#151324;
padding:8px 0px 2px 15px;
width:150px;
font-weight:600;
margin-top:20px;
font-size:17px;
border:2px solid black;
background-color:white;
}
.FormHeading{
color:white;
font-size:21px;
position:relative;
font-weight:600;
}
.FormHeading1{
color:white;
font-size:21px;
position:relative;
top:40px;
font-weight:600;
}
.FormHeading2{
color:white;
position:relative;
top:80px;
font-size:21px;
font-weight:600;
}  
.FormHeading3{
color:white;
position:relative;
top:120px;
font-size:21px;
font-weight:600;
}  
.FormHeading4{
color:white;
position:relative;
top:90px;
font-size:21px;
font-weight:600;
}


.PlanningButton{
border:2px solid black;
color:white;
background-color:#eb596e;;
height:40px;
width:105px;
position:relative;
top:180px;
font-size:18px;
font-weight:600;
border-radius:20px;
border:none;
} 
.Input1{
border:none;
border-bottom:1px solid white;
background-color:#312c51;
font-size:16px;
position:relative;
top:10px;
width:500px;
}
.Input2{
border:none;
border-bottom:1px solid white;
background-color:#312c51;
font-size:16px;
position:relative;
top:50px;
width:500px;
}
.Input3{
border:none;
border-bottom:1px solid white;
background-color:#312c51;
font-size:16px;
position:relative;
top:90px;
width:500px;
}
.Input4{
border:none;
border-bottom:1px solid white;
background-color:#312c51;
font-size:16px;
position:relative;
top:130px;
width:500px;
}