.Service_image{
display:flex;
position:relative;
top:80px;
}
.Service1{
font-size:40px;
}
.Service{
background-color:#282831;
height:650px;
}
.Service_img{
height:420px;
position:relative;
right:15px;
top:22px;
}
.Para_Main{
position:relative;
top:30px;
}
.Service_para{
position:relative;
top:55px;
font-size:27px;
font-weight:900;
color:white;
text-align:center;
}
.Service_para1{
padding-left:100px;
}
.para2{
font-size:30px;
font-weight:500;
color:white;
margin-left:30px; 
position:relative;
top:15px;
}
.para3{
font-size:18px;
margin-left:30px; 
color:rgb(158, 157, 157);
position:relative;
top:32px;
}
.para4{
font-size:18px;
margin-left:30px; 
color:rgb(158, 157, 157);
position:relative;
top:45px;
}

.para5{
font-size:18px;
margin-left:30px; 
color:rgb(158, 157, 157); 
position:relative;
top:50px;
}
