.Service1{
display:flex;
background-color:#282831;

padding-left:250px;
}
.Service2{
font-size:42px;
font-weight:900;
color:#eb596e;
padding-left:20px;
padding-left:10px;
position:relative;
bottom:15px;
}
.Service2_main{
margin-left:30px;
}
.Service2_para{
font-size:15px;
font-weight:bold;
font-weight:700;
color:grey;
position:relative;
bottom:18px;
}
.Service_2{
font-size:40px;
font-weight:900;
color:#eb596e;
margin-left:40px;
position:relative;
bottom:15px;
}
.Service_Main{
background-color:#282831;
height:220px;
position:relative;
}

.Service_button{
border-radius:20px;
background-color:#eb596e;
padding:12px;
width:135px;
font-size:16px;
font-weight:700;
text-align:center;
position:relative;
left:570px;
top:40px;
color:white;
border:none;
}
